@import '/src/styles/variables';

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 30px;
  width: 110px;
  border-radius: 5px;
  box-shadow: $shadow-small;
}
