@import '/src/styles/variables';

.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $background1;
  width: fit-content;
  border-radius: $borderRadiusMedium;
  overflow: hidden;
  box-shadow: $shadowSmall;

  .pokemonImg {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
    text-align: center;
    z-index: 2;
  }

  svg {
    position: absolute;
    top: 10px;
    left: 100px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.4;
  }

  .coloredBackground {
    height: 170px;
    opacity: 0.4;
    filter: brightness(1.2);
  }

  .displaysContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px 20px;
    margin-top: -80px;
    background-color: $background1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    z-index: 1;
    text-transform: capitalize;

    .name {
      font-size: 24px;
      margin: 4px 0 10px;
    }

    .typesContainer {
      display: flex;
      justify-content: center;
      width: 240px;
      margin-top: 8px;
      gap: 20px;
    }
  }
}
