.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--buttonColor);
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  border: 1px solid var(--buttonColor);
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  transition: 0.15s all ease;

  &:hover,
  &:active {
    background-color: initial;
    color: var(--buttonColor);
  }

  &:active {
    transform: translateY(5%);
  }

  &.small {
    width: 80px;
    height: 40px;
  }
  &.medium {
    width: 100px;
    height: 45px;
  }
  &.large {
    width: 120px;
    height: 50px;
  }
}
