@import '/src/styles/variables';

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 110px;
  margin: 0 5px;
  color: white;
  border-radius: $borderRadiusMedium;
  box-shadow: $shadowSmall;
  opacity: 0.8;
}
