@use '../../styles/variables';

.mainContainer {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    width: 30px;
    &:first-child {
    }
  }

  .percentageBarContainer {
    width: 100px;
    height: 10px;
    background-color: variables.$background3;
    border-radius: 10px;
    .percentageBar {
      border-radius: 10px;
      height: 100%;
    }
  }
}
