@import '/src/styles/variables';

$slideAnimationTime: 2s;

.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  padding: 100px 0 0;

  .gridContainer {
    padding: 20px 0;
    display: flex;
    position: relative;
    background-color: red;
    background-color: $background2;
    width: 100vw;
  }

  .nextPage,
  .previousPage,
  .currentPage {
    width: 100vw;
    transition: $slideAnimationTime linear transform;
  }

  .currentPage {
    z-index: 10;
  }

  .nextPage {
    position: absolute;
    transform: translateX(100%);
  }
  .previousPage {
    position: absolute;
    transform: translateX(-100%);
  }

  .hidden {
    display: none;
  }

  .button {
    position: relative;
    z-index: 11;
  }

  .disabledButton {
    pointer-events: none;
    cursor: initial;
    opacity: 0.6s;
  }
}
