@import 'src/styles/variables';

.mainContainer {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    &:first-child {
      width: 55px;
    }
    &:nth-child(2) {
      display: inline-block;
      width: 30px;
    }
  }

  .percentageBarContainer {
    width: 100px;
    height: 10px;
    background-color: $background3;
    border-radius: 10px;
    .percentageBar {
      border-radius: 10px;
      height: 100%;
      opacity: 0.7;
      filter: brightness(1.2);
    }
  }
}
