@import '/src/styles/variables';

$slideAnimationTime: 1s;
$pageHeightOffset: 93.7%;

.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  .gridContainer {
    position: relative;
    display: flex;
    flex: 1;
    padding: 20px 0;
  }

  .nextPage,
  .previousPage,
  .currentPage {
    width: 100vw;
    transition: $slideAnimationTime linear transform, 0.5s ease-in opacity;
  }

  .currentPage {
    z-index: 2;
  }

  .nextPage,
  .previousPage {
    &:not(.hidden) {
      opacity: 0.3;
    }
  }

  .nextPage {
    position: absolute;
    transform: translateX(100%);
    height: $pageHeightOffset;
  }

  .previousPage {
    position: absolute;
    transform: translateX(-100%);
    height: $pageHeightOffset;
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
  }

  .buttonContainer {
    display: flex;
    gap: 60px;
    margin-top: 30px;
    margin-bottom: 30px;

    .disabledButton {
      pointer-events: none;
      opacity: 0.6;
      cursor: initial;
      opacity: 0.6s;
    }
  }
}
