@import '/src/styles/variables';

$slideAnimationTime: 1s;

.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  .gridContainer {
    position: relative;
    display: flex;
    flex: 1;
  }

  .nextPage,
  .previousPage,
  .currentPage {
    transition: $slideAnimationTime linear transform, 0.5s ease-in opacity;
  }

  .nextPage,
  .previousPage {
    &:not(.hidden) {
      opacity: 0.3;
    }
  }

  .nextPage {
    position: absolute;
    transform: translateX(100%);
    height: 100%;
  }

  .previousPage {
    position: absolute;
    transform: translateX(-100%);
    height: 100%;
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
  }

  .buttonContainer {
    display: flex;
    gap: 60px;
    margin-top: 30px;
    margin-bottom: 30px;

    .disabledButton {
      opacity: 0.6;
      pointer-events: none;
      cursor: initial;
    }
  }
}
