@import '/src/styles/styles';

.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $background1;
  border-radius: $borderRadiusMedium;
  overflow: hidden;

  .displaysContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 100px 40px;
    margin-top: -120px;
    background-color: $background1;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    box-shadow: $shadowPokemonImage;
    z-index: 1;
    text-transform: capitalize;

    .name {
      margin: 4px 0 18px;
      font-size: 24px;
    }

    .displayColumnsContainer {
      display: flex;
      gap: 110px;

      .displayColumnLeft {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}
